body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}

.container {
    display: inline-block;
    padding: 10px;
    border: 1px solid #000;
    background-color: rgb(0, 255, 128);
}

h1 {
    font-size: 24px;
    color: black;
}

.fixed-container {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 2px dashed #000;
    position: relative;
    overflow: hidden; /* Щоб квадрат не виходив за межі контейнера */
}

#square {
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    transition: all 0.3s ease; /* Анімація для плавного зміни розміру */
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
.box {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: random;
}